


<%=select("field", "index", Field.all.collect {|p| [ p.full_variable, p.id ] }, { include_blank: true })%>
  <%= submit_tag "Submit" %>



<h2>Import Fields</h2>
<%= form_tag import_fields_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Import" %>
<% end %>

